@import url("https://use.typekit.net/uqg7rbo.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* Healthcare Calc CSS */

body {
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: .025em;
	font-weight: lighter;
}

h1,
h2,
h3,
h4,
h4 {
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
	text-transform: capitalize;
}

.overline {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #888;
	margin-bottom: 12px;
	color: #034638;
}

.StepPage {
	background-color: #f1f4f2;
}

.StepPage .linfo {
	font-size: 12px;
	text-align: center;
	color: #333;
}

.well {
	background-color: #DAE3DD;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}


/* Forms */

.form-generic {
	max-width: 780px;
	margin: 0 auto;
	padding: unset;
	background: unset;
}

.form-control {
	border-radius: 4px!important;
	height: 46px;
}

.control-label {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: .01em;
	color: #034638;
	margin: 12px 0 8px;
}

button,
input {
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

.input-sm {
	font-size: 12px;
	height: 36px;
}

.life-calc-btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.linfo {
	font-size: 14px;
	text-align: center;
	color: #333;
}

.submitted input:invalid {
	border: 2px solid red;
}

.lec__calcbtn {
	position: relative; 
	top: -52px; 
	left: 18px; 
	float: right;
}