body {
  background-color: #f1f5f3;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
}

header {
  background-color: #034638;
  height: 83px;
  display: flex;
  align-items: center;
}

button#update-chart {
  background-color: #ffb500;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 15px 30px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  border-radius: 8px;
  letter-spacing: 1px;
  display: block;
}

p.tag-yellow {
  padding: 10px 0;
  color: #fff;
  font-weight: 700;
  background-color: #ffb043;
}

p.tag-green {
  padding: 10px 0;
  color: #fff;
  font-weight: 700;
  background-color: #034638;
}

p#retirement-have,p#retirement-need {
  font-size: 30px;
}

.wrapper>div {
  padding-top: 50px;
}

.wrapper .inputs h1 {
  color: #000;
  font-family: "Roboto",serif;
  text-transform: uppercase;
  font-size: 23px;
}

.wrapper .inputs .input-group-sm {
  margin-bottom: 0;
  padding: 10px 0;
}

.wrapper .inputs p {
  font-family: "Roboto",serif;
  font-weight: 500;
  margin-bottom: 0;
}

.wrapper .data-wrapper {
  background-color: #fff;
}

.wrapper .data-wrapper h2 {
  color: #4c4c4c;
  font-family: "EB Garamond",serif;
  font-weight: 400;
  font-size: 57px;
}

.wrapper .data-wrapper h3 {
  color: #4c4c4c;
  font-family: "Roboto",serif;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 40px;
}

.wrapper .data-wrapper hr {
  background-color: #4c4c4c;
  width: 30%;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper .data-wrapper p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 40px;
}

.arrow {
  transition: all 1s;
  transform-origin: center bottom;
  transform: rotate(0deg);
}

.arrow.very-low {
  transform: rotate(75deg);
}

.arrow.low {
  transform: rotate(30deg);
}

.arrow.medium {
  transform: rotate(0deg);
}

.arrow.high {
  transform: rotate(-75deg);
}

.risk-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projected-assets {
  background-color: #b6ccc2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projected-assets h3 {
  font-family: "Roboto Slab",serif;
  font-size: 30px;
  font-weight: bold;
}

.projected-assets .assets-data>div>p:nth-of-type(2) {
  font-size: 30px;
  font-weight: 700;
}

.assets-table {
  padding-top: 30px;
  padding-bottom: 30px;
}

.assets-table .asset-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.assets-table .asset-row.shortfall {
  justify-content: space-around;
}

.assets-table .asset-row .color-block {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.assets-table .asset-row .color-block.gold {
  background-color: #ffb043;
}

.assets-table .asset-row .color-block.green {
  background-color: #034638;
}

.breakdown {
  background-color: #b6ccc2;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.breakdown h3 {
  font-family: "Roboto Slab",serif;
  font-size: 30px;
  font-weight: bold;
}

.breakdown p {
  font-size: 14px;
}

.breakdown .value p {
  padding: 5px 0;
}

.breakdown .value p:nth-of-type(2) {
  font-size: 30px;
}

.breakdown .value .balance {
  background-color: #6c3b6f;
  color: #fff;
}

.breakdown .value .growth {
  background-color: #ffb043;
  color: #fff;
}

.breakdown .value .contributions {
  background-color: #034638;
  color: #fff;
}

.retirement-fact {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid #707070;
}

.retirement-fact:last-of-type {
  border-bottom: 1px solid #707070;
}

.retirement-fact .fact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.retirement-fact .fact p {
  max-width: 80%;
}

.accordion-item {
  background-color: #034638;
}

.accordion-item .accordion-toggle {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.accordion-item .accordion-toggle:hover {
  cursor: pointer;
}

.accordion-item .accordion-body {
  background-color: #fff;
  height: 0;
  display: none;
}

.accordion-item .accordion-body h6 {
  color: #000;
  font-weight: 700;
  font-size: 25px;
}

.accordion-item .accordion-body.active {
  height: auto;
  display: block;
}

.accordion-item .accordion-body>div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.actions {
  background-color: #4d7f71;
  padding-top: 70px;
  padding-bottom: 70px;
}

.actions h4 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 50px;
}

.actions .action img {
  margin-bottom: 20px;
}

.actions .action p {
  color: #fff;
  font-weight: 700;
}

.actions .action a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
}

#breakdown-total {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#breakdown-total p {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 0;
  padding: 0!important;
  height: auto!important;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01),0 0 1px rgba(13,13,13,.01);
  background: #4d7f71;
  border-radius: 1.3px;
  border: 0 solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #578f7f;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01),0 0 1px rgba(13,13,13,.01);
  background: #4d7f71;
  border-radius: 1.3px;
  border: 0 solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #436f63;
  border: 0 solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01),0 0 1px rgba(13,13,13,.01);
}

input[type=range]::-ms-fill-upper {
  background: #4d7f71;
  border: 0 solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01),0 0 1px rgba(13,13,13,.01);
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  height: 18px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #4d7f71;
}

input[type=range]:focus::-ms-fill-upper {
  background: #578f7f;
}

.rates {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rates .rate {
  padding-top: 50px;
  padding-bottom: 50px;
}

.rates .rate:nth-child(2) {
  background-color: #dbe6e1;
}

.rates .rate:nth-child(3) {
  background-color: #769d91;
  color: #fff;
}

.rates .rate:nth-child(4) {
  background-color: #4d7f71;
  color: #fff;
}

.rate .text-breakdown p {
  margin-bottom: 0;
  font-weight: 300;
}

.rate .text-breakdown .finalValue {
  font-size: 16px;
  font-weight: 700!important;
  font-family: "Roboto",sans-serif;
}

.rate .text-breakdown .finalAge,.rate .text-breakdown .investmentDuration {
  font-weight: 700!important;
}

.rates .rate>div {
  display: flex;
  align-items: center;
}

.rates .rate:nth-of-type(2) div .rate-percent {
  border-right: 2px solid #4c4c4c;
}

.rates .rate>div>div:nth-child(1) {
  border-right: 2px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates .rate span:nth-of-type(1),.rates .rate span:nth-of-type(3) {
  font-weight: 300;
}

.rates .rate-percent span:nth-of-type(2) {
  font-size: 80px;
  line-height: 1em;
  font-family: "EB Garamond",serif;
  margin-bottom: 10px;
}

#myChart {
  max-width: 95%;
  margin: 0 auto;
  min-height: 550px;
  max-height: 550px;
}

@media screen and (max-width:576px) {
  #myChart {
    min-height: 500px;
  }
}