@charset "utf-8";
/* p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
} */
.on {
  display: none;
}
.on {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
}

/* .row {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  min-width: 100%;
}

.btn.active.focus,
.btn:active,
.btn:active:hover,
.btn:hover,
btn:focus {
  position: absolute;
  right: 0;
  height: 50%;
  padding: 0;
  width: 2em;
  text-align: center;
  line-height: 1;
}
.btn,
.btn.active.focus,
.btn::after,
.btn::selection,
.btn:active,
.btn:active:hover,
.btn:hover,
btn:focus {
  display: inline-block;
  padding: 1px 10px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.btn-text,
.btn-text.active,
.btn-text:focus,
.btn-text:hover {
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.btn-text.active,
.btn-text:focus,
.btn-text:hover {
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

button {
  text-transform: none;
  -webkit-appearance: button;
}
button {
  overflow: visible;
  -webkit-appearance: button;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

h3 {
  font-family: Roboto;
  font-size: 30px;
  line-height: 38px;
  color: #03483a;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
h6 {
  font-family: "Roboto Condensed";
  font-size: 30px;
  color: #03483a;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
} */

.span #627 {
  display: none;
}

.thankyouResults {
  background-color: #fff;
  align-content: center;
  padding: 0 20px;
}
.thankyouResults h1 {
  color: #034638;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  padding: 2.5% 5% 0 5%;
  text-align: center;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  color: #4e87a0;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}
.fa {
  display: inline-block;
  font: normal normal normal 21px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.popover {
  position: relative !important;
  z-index: 99999;
}
.popover1 {
  position: absolute;
  width: 250px;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid #ffa426;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: #ffa426;
  padding: 5px;
  z-index: 99999;
}
.popover1.bottom {
  margin-top: 10px;
}
.popover1 > .arrow,
.popover1 > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #ffa426;
}
.popover1 > .arrow {
  border-width: 11px;
  border-bottom-color: #ffa426;
}
.popover1 > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover1.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #ffa426;
}
.popover1.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #ffa426;
}
.popover2 {
  position: absolute;
  width: 250px;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid #4d7f71;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: #4d7f71;
  padding: 5px;
}
.popover2.bottom {
  margin-top: 10px;
}
.popover2 > .arrow,
.popover2 > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #4d7f71;
}
.popover2 > .arrow {
  border-width: 11px;
}
.popover2 > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover2.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #4d7f71;
}
.popover2.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #4d7f71;
}
.subtitle2 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 42px;
  color: #333;
  font-weight: 700;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: left;
}

.NoCost {
  color: #393939;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 8px;
}

.riskLevelTY_img {
  min-width: 60%;
  max-width: 100%;
  margin-top: 10%;
}

.projectedAssetsLabel {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.mayHave {
  width: 50%;
  float: left;
  padding-left: 8px;
  margin-top: 8px;
}
.willNeed {
  width: 50%;
  float: right;
  padding-right: 8px;
  margin-top: 8px;
}

.chartSavings {
  width: 450px;
  min-width: 100%;
  max-width: 80%;
  align-content: center;
  text-align: center;
}
.legendText {
  vertical-align: top;
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 150px;
}
.legendTextRetired {
  vertical-align: top;
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 150px;
}
.legendHaveNeed {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
.yellowSquare {
  width: 20px;
  height: 20px;
  background-color: #ffa426;
  display: inline-block;
  text-align: left;
  margin-bottom: 15px;
}
.greenSquare {
  width: 20px;
  height: 20px;
  background-color: #4d7f71;
  display: inline-block;
  text-align: left;
}
.DivChartContainer2 {
  display: inline-block;
}
.tableTY {
  margin: 30px;
}
.tableTY tr {
  border-top: 1px solid #03483a;
  border-right: 1px solid #03483a;
  border-left: 1px solid #03483a;
  border-bottom: 1px solid #03483a;
  border-radius: 1px;
}
.tdRight {
  padding: 15px;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.tdLeft {
  padding: 20px;
  width: 30%;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  text-align: center;
}
td .h1 {
  color: #03483a;
  font-weight: 700;
}
#tyCarousel {
  min-height: 100%;
  height: 350px;
  width: 100%;
  margin-top: 0;
  display: block;
  align-self: stretch;
  text-align: center;
  background-color: #f3f7f5;
}
#tyCarousel .carousel {
  position: relative;
}
#tyCarousel .carousel-indicators .active {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  margin: 1px 10px 1px 0;
  background-color: #03483a;
}
#tyCarousel .carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 1px 10px 1px 0;
  text-indent: -999px;
  cursor: pointer;
  background-color: #b6ccc2;
  border: 1px solid #03483a;
  border-radius: 14px;
}
#tyCarousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 350px;
}
#tyCarousel .carousel-inner > .item.active {
  min-height: 100%;
  height: 350px;
  width: 100%;
  display: block;
}
#tyCarousel .carousel-caption {
  position: static;
  padding-right: 25px;
  bottom: 20px;
  padding-left: 25px;
  z-index: 10;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
  text-shadow: none;
  vertical-align: top;
  color: #333;
  font-family: Roboto;
  line-height: 1.7;
}
#tyCarousel.carousel-caption p {
  color: #000;
  padding: 30px;
  font-family: Roboto;
  line-height: 1.7;
}
#guideCarousel {
  min-height: 100%;
  height: 600px;
  width: 100%;
  margin-top: 0;
  display: block;
  align-self: stretch;
  text-align: center;
  background-color: #fff;
}
#guideCarousel .carousel {
  position: relative;
}
#guideCarousel .carousel-indicators .active {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  margin: 1px 10px 1px 0;
  background-color: #03483a;
}
#guideCarousel .carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 1px 10px 1px 0;
  text-indent: -999px;
  cursor: pointer;
  background-color: #b6ccc2;
  border: 1px solid #03483a;
  border-radius: 14px;
}
#guideCarousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}
#guideCarousel .carousel-inner > .item.active {
  min-height: 100%;
  height: 600px;
  width: 100%;
  display: block;
}
#guideCarousel .carousel-caption {
  position: static;
  padding-right: 30px;
  bottom: 20px;
  padding-left: 30px;
  z-index: 10;
  padding-bottom: 10px;
  padding-top: 30px;
  color: #000;
  text-align: center;
  text-shadow: none;
  vertical-align: top;
}
#guideCarousel.carousel-caption h3 {
  color: #000;
}
#guideCarousel.carousel-caption p {
  color: #000;
}

.tableGuides {
  border: none;
  text-align: center;
  padding: 0 50px;
  width: 100%;
}
.tdRightGuides {
  padding: 15px;
  width: 50%;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  text-align: left;
}
.tdLeftGuides {
  padding: 50px;
  width: 50%;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  text-align: center;
}
.btn-YellowGuides {
  border-radius: 4px !important;
  border: 1px solid #ffa426;
  background-color: #ffa426;
  box-shadow: 0 3px 0 0 #ffa426;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  padding: 12px 30px;
  font-family: Roboto, sans-serif;
  width: 250px;
  line-height: 20px;
  min-width: 200px;
  max-width: 40%;
}
.TYContact {
  text-align: center;
  height: 100%;
  display: block;
  margin-top: 20px;
  background-color: #4d7f71;
  padding: 50px 10px;
}

.TYContact .title {
  color: #fff;
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 30px;
  font-family: "Roboto Slab", serif;
}
.TYContact p {
  text-align: center;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 24px;
  margin: 0 10px;
}
.TYContact h4 {
  text-align: center;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.TYContact h2 {
  text-align: center;
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.subtitle3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 500;
  padding: 20px 0 10px 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container2 {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #f3f7f5;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  #DivChartContainer {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* h1 {
    color: #034638;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    padding: 3% 5px 0 5px;
  }
  h2 {
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    padding: 0 2px;
    font-size: 22px;
    text-align: center;
  }
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    padding: 0 2px 10px 2px;
    font-size: 25px;
    text-align: center;
  } */
  .projectedAssetsHeader {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    padding: 0 2px;
    font-size: 25px;
    text-align: center;
  }
  .projectedRetirement {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    padding: 0 2px;
    font-size: 25px;
    text-align: center;
    margin-top: 55px;
  }

  .assetsHeadline {
    font-family: Roboto;
    font-size: 24px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .gaugeHeadline {
    font-family: Roboto;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }
  .accordion {
    background-color: #03483a;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    transition: 0.4s;
  }
  .accordion.active,
  .accordion:hover {
    background-color: #03483a;
  }
  .accordion:before {
    content: "\002B";
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 10px;
  }
  .accordion.active:before {
    content: "\2212";
  }
  .panel {
    padding: 0 50px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    margin-bottom: 5px;
  }
  .panel p {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .download {
    float: right;
    color: #fff;
    font-size: 16px;
  }
  /* h1 {
    color: #034638;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
  }
  h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 0 10px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    padding: 0 2px;
    font-size: 24px;
    text-align: center;
  } */
  .projectedAssetsHeader {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 0 2px;
    font-size: 25px;
    text-align: center;
  }
  .projectedRetirement {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    padding: 0 2px;
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 250px) and (max-width: 375px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .doughnutValues {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }
  .doughnutValueText {
    text-align: center;
    vertical-align: top;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-left: -15px;
  }
  .doughnutChart {
    width: 100%;
    text-align: center;
    padding: 20px 5px;
  }
  .projectedAssets {
    background-color: #fff;
    height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 25px 5px;
  }
  .projectedAssetsWorking {
    background-color: #fff;
    height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  .YellowBlockHave {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-family: Roboto, sans-serif;
  }
  .GreenBlockNeed {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-family: Roboto, sans-serif;
  }
  .mayHave {
    width: 50%;
    padding-left: 40px;
    margin-top: 8px;
  }
  .willNeed {
    width: 50%;
    padding-right: 40px;
    margin-top: 8px;
  }
  .factIcons {
    width: 10%;
  }
}
@media screen and (min-width: 1099px) {
  .doughnutChart {
    width: 100%;
    padding: 35px 5px;
  }
  .doughnutValues {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    padding-top: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .doughnutChart {
    width: 100%;
    padding: 20px 5px;
  }
  .doughnutValues {
    margin-left: 40px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
    padding-top: 20px;
  }
  .factIcons {
    width: 25%;
  }
}

@media screen and (min-width: 767px) {
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 199999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .modal-dialog {
    margin: 150px auto;
    position: relative;
    padding-top: 20px;
    padding-top: 100px;
    width: 765px;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0;
    padding: 10px 50px;
    margin-top: 50px;
  }
  .modal-body {
    position: relative;
    padding: 20px 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 766px) {
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    vertical-align: top;
  }
  .modal-dialog {
    width: 95%;
    height: 100%;
    align-self: center;
    position: relative;
    border-radius: 10px;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: 0;
    padding: 10px 10px;
    margin-top: 30px;
  }
  .modal-body {
    position: relative;
    padding: 20px 10px;
  }
}
@media screen and (min-width: 992px) {
  /* .modal-dialog {
    width: 992px;
    position: relative;
  }
  .modal-content .close {
    margin-right: -50px;
    margin-top: -20px;
  } */
}

@media screen and (max-width: 376px) {
  .subtitle2 {
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    line-height: 32px;
    color: #333;
    font-weight: 700;
    padding: 5px 0 5px 0;
    width: 100%;
    text-align: left;
  }
  .NoCost {
    color: #393939;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 22px;
    padding-top: 5px;
  }
  .subtitle3 {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    padding: 5px 0 5px 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1099px) {
  .projectedAssets {
    background-color: #f3f7f5;
    height: 100%;
    text-align: center;
    padding: 45px 5px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  .projectedAssetsWorking {
    background-color: #f3f7f5;
    height: 100%;
    text-align: center;
    padding: 15px 5px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  .doughnutValueText {
    text-align: center;
    vertical-align: top;
    width: 90%;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    margin-left: -25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .projectedAssets {
    background-color: #fff;
    height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  .projectedAssetsWorking {
    background-color: #fff;
    height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  .assetsHeadline {
    font-family: Roboto;
    font-size: 16px;
    color: #000;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .projectedAssetsLabel {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }
  .YellowBlockHave {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    font-family: Roboto, sans-serif;
    float: left;
  }
  /* .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
  } */
  .GreenBlockNeed {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    font-family: Roboto, sans-serif;
    float: right;
  }
  .doughnutValueText {
    text-align: center;
    font-family: Roboto, sans-serif;
    vertical-align: top;
    width: 90%;
    font-size: 23px;
    font-weight: 500;
  }
  /* h3 {
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 28px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  h6 {
    font-family: "Roboto Condensed";
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  } */
  .YellowBlockTY_Assets {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .GreenBlockTY_Assets {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .YellowBlockTY {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .GreenBlockTY {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .PurpleBlockTY {
    border-radius: 1px;
    background-color: #6c3b6f;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .gaugeHeadline {
    font-family: Roboto;
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .YellowBlockTY_Assets {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .GreenBlockTY_Assets {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .YellowBlockTY {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .GreenBlockTY {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .PurpleBlockTY {
    border-radius: 1px;
    background-color: #6c3b6f;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .YellowBlockTY_Assets {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
    font-family: Roboto, sans-serif;
    width: 300px;
    min-width: 70%;
    max-width: 300px;
    align-items: center;
  }
  .GreenBlockTY_Assets {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
    font-family: Roboto, sans-serif;
    width: 300px;
    min-width: 70%;
    max-width: 300px;
    align-items: center;
  }
  .YellowBlockTY {
    border-radius: 1px;
    background-color: #ffa426;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .GreenBlockTY {
    border-radius: 1px;
    background-color: #4d7f71;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
  .PurpleBlockTY {
    border-radius: 1px;
    background-color: #6c3b6f;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    font-family: Roboto, sans-serif;
    width: 230px;
    min-width: 50%;
    max-width: 230px;
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .accordion {
    background-color: #03483a;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    transition: 0.4s;
  }
  .accordion.active,
  .accordion:hover {
    background-color: #03483a;
  }
  .accordion:before {
    content: "\002B";
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 10px;
  }
  .accordion.active:before {
    content: "\2212";
  }
  .panel {
    padding: 0 20px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    margin-bottom: 5px;
  }
  .accordionSubhead {
    font-size: 21px;
    font-family: "Roboto Condensed";
    font-weight: Bold;
    line-height: 28px;
    padding-top: 10px;
  }
  .panel p {
    font-family: Roboto;
    padding-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1099px) {
  .TYContactM {
    text-align: center;
    height: 100%;
    display: block;
    margin-top: 30px;
    background-color: #f3f7f5;
    padding: 30px 10px;
  }
  .TYContactM .title {
    color: #000;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Roboto Condensed", serif;
  }
  .TYContactM p {
    text-align: left;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #000;
    font-weight: 300;
    line-height: 24px;
    margin: 0 10px;
  }
  .TYContactM h4 {
    text-align: left;
    font-size: 24px;
    font-family: Roboto, serif;
    font-weight: 700;
  }
  .TYContactM h2 {
    text-align: center;
    font-size: 28px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
  }
  .legendText {
    vertical-align: top;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    width: 150px;
  }
  .legendHaveNeed {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
  }
}
